
body{
    background-image: url(./componente/img/fondofarmacia.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
   
}

.inicio{
    width: 100%;
    position:relative;


}
.bienvenidos{
    width: 100%;
    color: rgb(239, 239, 239);
}

/* --------------------NAV------------------------------------- */
.navcss img {
    width: 4%;
    
}
.navcss{width: 100%;
    display:flex;
    align-items: center;
    text-align:center;
    background-color: rgba(1, 0, 0, 0.149);
    
}

.navcss h1{ color: rgb(19, 165, 178);}
.navcss .navbtn{
    display: flex;
    width: 100%;
    
}
.navcss .navbtn ul{
    display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
}
.navcss .navbtn ul li{
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center; 
    padding: 10px;
    font-size: 18px;
    width: 100%;

}
.navcss .navbtn ul li img{
    width: 18%;
}
.nav-link{
    color: aquamarine;
    text-decoration: none;
}

.nav-link:hover,
.nav-link.active{
    color: red;
}

/* ------------------------Productos----------------------------- */
.contenidotarjeta{
   display: flex;
   flex-direction: column;
}
.produc{
    color: aliceblue;
}
.tarjetas{width:80%;
    height: 100%;
    display: flex;
    flex-direction:row;
    
    border: solid;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;

    
}
.tarjetas li{
    width: 100%;
    padding: 2px;
    margin: 20px;

}
a{
    width: 100%;
    text-decoration: none;
    color: rgb(6, 6, 6);
}
.tarjetas img{
    width: 100%;
}
.tarjetas button{background-color: black;
width: 100%;
color: white;
margin: 2px;
}


/* ---------------DETALLE----------------- */

.detall{
    width: 100%;
    border: solid;
    text-align: center;
}
.detall p{
    color: antiquewhite;
}
.detall img{
    width: 30%;
}
.detall .agregarcarro{
    background-color:  rgb(233, 233, 210);
    position:fixed;
    top: 92%;
    left: 90%;
    border-radius: 50%;
}
.detall button{
    background-color: rgb(233, 233, 210);
    position:fixed;
    top: 94%;
    left: 2%;
    border-radius: 50%;

}
/* ----------------------------Ofertas------------------------------ */
.tarjetaofertas{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.352);
}
.tarjetaofertas .offertas{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.tarjetaofertas .offertas img{
    width: 100%;
}