body{
    background-color: rgb(128, 128, 128);
}

/*-----------------INGRESAR---------------------------------*/
.ingreso{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.33);
}

h2{
    margin: 3px;
    color: rgb(7, 30, 105);
}

label{
    color: blue;
    padding: 3px;
}

input{
    font-size: 15px;
    width: 20%;
    background-color: transparent;
}

.generar{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.409);
}

/* --------------------NAV------------------------------------- */

.navcss{width: 100%;
    display:flex;
    flex-flow: row;
    align-items: center;
    text-align:center;
    background-color: rgba(243, 239, 242, 0.993);
}

.navcss h1{ color: rgb(12, 129, 129);}
.navcss .navbtn{
    width: 100%;
    display: flex;
    align-items:center;
    text-align: center;
    
}
.navcss .btnnav{
    color: rgb(37, 151, 151);
    background-color: transparent;
    font-size: 20px;
    margin: 26px;
    border: none;
}

/* ------------------------Productos----------------------------- */
.contenidotarjeta{
    display: flex;
    flex-wrap: wrap;

}
.tarjetas{width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
}
.tarjetas button{background-color: black;
width: 100%;}