body{
    background-color: rgb(255, 255, 255);
}

.inicio{
    width: 100%;
}

/*-----------------INGRESAR---------------------------------*/
.ingreso{width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position:relative;
}


.tarjeraingreso img{
    position:absolute;
    width: 100%;
}
h2{
    font-size: 18px;
    margin: 3px;
    color: rgb(237, 238, 242);
}

label{
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding: 3px;
}

input{
    font-size: 15px;
    width: 20%;
    background-color: transparent;
}

.generar{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.012);
    position: absolute;
}
.generar input{
    width: 90%;
    font-size: 15px;
    margin: 5px;
}

/* --------------------NAV------------------------------------- */
.navcss img {
    width: 4%;
    
}
.navcss{width: 100%;
    display:flex;
    align-items: center;
    text-align:center;
    background-color: rgba(243, 239, 242, 0.993);
    
}

.navcss h1{ color: rgb(12, 129, 129);}
.navcss .navbtn{
    display: flex;
    width: 100%;
    
}
.navcss .navbtn ul{
    display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
}
.navcss .navbtn ul li{
    display: flex;
    text-decoration: none;
    align-items: center;
    text-align: center; 
    padding: 10px;
    font-size: 18px;
    width: 100%;

}

.nav-link:hover,
.nav-link.active{
    color: red;
}

/* ------------------------Productos----------------------------- */
.contenidotarjeta{
    display: flex;
    flex-wrap: wrap;

}
.tarjetas{width:30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
}
.tarjetas img{
    width: 100%;
}
.tarjetas button{background-color: black;
width: 100%;
color: white;}

/* --------------------Contacto------------------------------ */

form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
}
form textarea{
    color: black;
    width: 20%;
}